textarea#content {
  height: 18rem;
  margin-bottom: 1rem;
}

textarea#lexicalEntries {
  height: 15rem;
  margin-bottom: 1rem;
}

textarea#bnf {
  height: 24rem;
  margin-bottom: 1rem;
}

textarea#parseTree {
  height: 21rem;
  margin-bottom: 1rem;
}

#sizeableElement {
  width: 50rem;
}
