textarea#lexicalGrammar { height: 6rem; }
textarea#bnfGrammar { height: 15rem; }
textarea#adjustedBNFGrammar { height: 21rem; }
textarea#parseTree { height: 15rem; }
textarea#content { height: 12rem; }

textarea#lexicalGrammar,
textarea#bnfGrammar,
textarea#adjustedBNFGrammar,
textarea#parseTree,
textarea#content {
  margin-bottom: 1rem;
}

