.column,
#sizeableElement {
  margin: 0 1rem 0 1rem;
}

#sizeableElement {
  width: 40rem;
  min-width: 20rem;
  max-width: 80rem;
}

textarea#content {
  height: 12rem;
  margin-bottom: 1rem;
}

textarea#bnfGrammar {
  height: 24rem;
}

textarea#lexicalGrammar {
  height: 12rem;
}

textarea#parseTree {
  height: 15rem;
}
