textarea#lexicalGrammar {
  height: 6rem;
  margin-bottom: 1rem;
}

textarea#bnfGrammar,
textarea#adjustedBNFGrammar {
  height: 12rem;
  margin-bottom: 1rem;
}

textarea#parseTree {
  height: 15rem;
  margin-bottom: 1rem;
}

textarea#content {
  height: 12rem;
  margin-bottom: 1rem;
}

