textarea#content {
  height: 18rem;
  margin-bottom: 1rem;
}

textarea#lexicalGrammar {
  height: 16rem;
  margin-bottom: 1rem;
}

textarea#bnfGrammar,
textarea#adjustedBNFGrammar {
  height: 12rem;
  margin-bottom: 1rem;
}

textarea#parseTree {
  height: 24rem;
  margin-bottom: 1rem;
}
