*,
*:after,
*:before {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border: 0;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.columns {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 100%;
}

.columns .column {
  flex: 1;
}

.splitter.vertical {
  width: 8px;
  min-width: 8px;
  background-color: lightgray;
}

.column,
#leftColumn {
  padding-left: 1rem;
  padding-right: 1rem;
}

#leftColumn {
  width: 40rem;
  min-width: 20rem;
  max-width: 80rem;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
  margin-top: 1rem;
}

p,
ul {
  text-align: center;
}

input.error {
  border-color: red;
}

input,
textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  font-family: monospace;
  border: 1px solid darkgray;
}

textarea {
  height: 16rem;
  resize: vertical;
}

textarea#parseTree {
  height: 30rem;
  white-space: pre;
  font-size: 0.75rem;
  overflow-wrap: normal;
}

