*,
*:after,
*:before {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border: 0;
  margin: 0;
  padding: 0;
}

.columns {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 100%;
}

.column {
  flex: 1;
}

.vertical.splitter {
  width: 8px;
  min-width: 8px;
  background-color: lightgray;
}

.columns {
  margin-bottom: 1rem;
}

.column,
#sizeableElement {
  padding-left: 1rem;
  padding-right: 1rem;
}

#sizeableElement {
  width: 60rem;
  min-width: 40rem;
  max-width: 120rem;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
}

p,
ul {
  text-align: center;
}

textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  font-family: monospace;
  border: 1px solid darkgray;
  height: 16rem;
  resize: vertical;
  margin-top: 0.5rem;
}

textarea.error {
  border-color: red;
}

textarea#bnfGrammar,
textarea#parseTree {
  white-space: pre;
  overflow-wrap: normal;
}

textarea#parseTree {
  font-size: 0.75rem;
}
