.container {
  margin: 1rem;
}

input[type="checkbox"] {
  margin-bottom: 1rem;
}

textarea#parseTree {
  height: 12rem;
}

textarea#content {
  height: 12rem;
}

textarea#bnfGrammar {
  height: 21rem;
  margin-bottom: 1rem;
}

textarea#productionName {
  height: 3rem;
  resize: none;
  margin-bottom: 1rem;
}

