*,
*:after,
*:before {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border: 0;
  margin: 0;
  padding: 0;
}

.vertical.splitter {
  width: 8px;
  min-width: 8px;
  background-color: lightgray;
}

.column {
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sizeable {
  width: 60rem;
  min-width: 20rem;
  max-width: 120rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
}

p {
  margin-top: 1rem;
    text-align: center;
}

textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  font-family: monospace;
  border: 1px solid darkgray;
  height: 16rem;
  resize: vertical;
  white-space: pre;
  margin-top: 0.5rem;
}

textarea.error {
  border-color: red;
}

textarea.bnf,
textarea.parseTree,
textarea.lexicalEntries {
  overflow-wrap: normal;
}

textarea.parseTree {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

textarea.lexicalEntries {
  overflow-wrap: normal;
  margin-bottom: 1rem;
}
