textarea#content {
  height: 18rem;
}

textarea#lexicalGrammar {
  height: 12rem;
  margin-bottom: 1rem;
}

textarea#bnf {
  height: 18rem;
  margin-bottom: 1rem;
}

textarea#parseTree {
  height: 12rem;
}

input#mappings {
  margin: 1rem 0 1rem 0;
  height: 1rem;
}

input#ruleName {
  margin-bottom: 1rem;
}

#sizeableElement {
  width: 80rem;
}

.container {
  margin: 1rem;
}

